@model HomeIndexViewModel
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title.</h2>


<div class="site-section first-section" data-aos="fade">
    <div class="container">
        <div class="row mb-5">

            @foreach (var project in Model.Projects)
            {
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="media-image">
                        <a href="#"><img src="~/Images/bohem-yatak-odalari.jpg" class="img-fluid" />
                                    <div class="media-image-body">
                                        <h2 class="font-secondary text-uppercase"><a href="#">@project.Title</a></h2>
                                        <span class="d-block mb-3">By @project.User.DisplayName &mdash; @project.CreationTime.Value.ToShortDateString()</span>
                                        @Html.Raw(project.Content)
                                        <p><a href="#">Read More</a></p>
                                    </div>
                    </div>
                </div>
            }


        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="custom-pagination">
                    <span class="current">1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <span>...</span>
                    <a href="#">14</a>
                </div>
            </div>
        </div>
    </div>
</div>
