@model HomeIndexViewModel
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title.</h2>
<h1 class="my-4 pt-5 pb-md-3 pl-4  badge badge-success" style="margin-bottom:3.5rem!important;"  >
    @(Model.SelectedCategory==null ? "" : Model.SelectedCategory.CategoryName)
</h1>


<div class="site-section first-section" data-aos="fade">
    <div class="container">
        <div class="row mb-5 px-5">

            @foreach (var project in Model.Projects)
            {
                <div class="col-md-12 col-lg-12 mb-5 ">
                    <div class="media-image ">
                        @if (!string.IsNullOrEmpty(project.PhotoPath))
                        {
                            <img src="@Url.FeaturedImage(project.PhotoPath)" class="img-fluid mx-auto d-block " />

                        }
                        <div class="media-image-body">
                            <h2 class="font-secondary text-uppercase"><a href="#">@project.Title</a></h2>
                            <span class="d-block mb-3">By @project.User.DisplayName &mdash; @project.CreationTime.Value.ToShortDateString()</span>
                            @Html.Raw(project.Content)

                        </div>
                    </div>
                </div>
            }


        </div>

        <!-- Pagination -->

        <nav aria-label="Page Number and Pagination">
            <div class="mb-3 text-center">
                Page @(Model.Projects.PageCount < Model.Projects.PageNumber ? 0 : Model.Projects.PageNumber) of @Model.Projects.PageCount
                @Html.PagedListPager(Model.Projects, page => Url.Action("Projects",
                  new { page, cid = Model.SelectedCategoryId }), new PagedListRenderOptionsBase
                  {
                      ContainerDivClasses = new string[] { "pagination-container", "d-flex" },
                      UlElementClasses = new string[] { "pagination", "mx-auto" },
                      LiElementClasses = new string[] { "page-item" },
                      PageClasses = new string[] { "page-link" },
                      EllipsesElementClass = "page-link",
                      LinkToFirstPageFormat = "&laquo;",
                      LinkToLastPageFormat = "&raquo;",
                      LinkToPreviousPageFormat = "&lsaquo;",
                      LinkToNextPageFormat = "&rsaquo;",
                      MaximumPageNumbersToDisplay = 5,
                      
                  })
            </div>
        </nav>

    </div>
</div>
